# Django
Django==2.0.4
gunicorn==19.6.0
pytz==2018.4
django-environ==0.4.4

# Database-specific
psycopg2-binary

# Other
six==1.11.0
Markdown==2.6.11
Unidecode==0.4.21

# Local
django-debug-toolbar==1.9.1
sqlparse==0.2.4
