{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}" />

{% load widget_tweaks %}

{% block content %}
	<form id="course_form" method="get">
		<div class="card bg-light" style="width: 90%; margin: 10px auto">
			<div class="card-block" style="margin: 30px">
				<div class="row">
					<div class="form-group col-md-4">
						{{ filter.form.subject.label_tag }} {% render_field filter.form.subject class="form-control" %}
					</div>
					<div class="form-group col-md-4">
						{{ filter.form.number.label_tag }} {% render_field filter.form.number class="form-control" %}
					</div>
					<div class="form-group col-md-4">
						{{ filter.form.name.label_tag }} {% render_field filter.form.name class="form-control" %}
					</div>
				</div>
				<div class="row justify-content-start">
					<div class="form-group col-md-4">
						{{ filter.form.term.label_tag }} {% render_field filter.form.term class="form-control" %}
					</div>
					<button class="btn btn-primary" type="submit" style="height: 50%; margin-top: 2rem;">Search</button>									
				</div>
			</div>
		</div>
	</form>
	
  {% for course in filter.qs %}
		<div class="card" style="width: 90%; margin: 0 auto">
			<div class="card-body">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Course ID</th>
							<th scope="col">Subject</th>
							<th scope="col">Number</th>
							<th scope="col">Name</th>
							<th scope="col">Term</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">{{ course.course_id }}</th>
							<td>{{ course.subject }}</td>
							<td>{{ course.number }}</td>
							<td>{{ course.name }}</td>
							<td>{{ course.term }}</td>
						</tr>	
					</tbody>
				</table>
				<p>{{ course.description }}</p>
			</div>
		</div>
  {% endfor %}
{% endblock %}
