{% extends "base.html" %}

{% block content %}
	<h2>Courses</h2>
	{% for course in object_list %}
		<div class="card" style="width: 90%; margin: 0 auto">
			<div class="card-body">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Course ID</th>
							<th scope="col">Subject</th>
							<th scope="col">Number</th>
							<th scope="col">Name</th>
							<th scope="col">Term</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">{{ course.course_id }}</th>
							<td>{{ course.subject }}</td>
							<td>{{ course.number }}</td>
							<td>{{ course.name }}</td>
							<td>{{ course.term }}</td>
						</tr>	
					</tbody>
				</table>
			</div>
		</div>
	{% endfor %}
{% endblock %}
