{% extends "base.html" %}

{% block content %}

<body>
<h2>Student Lookup</h2>
<p>Please type the student's name below to look for them:</p>

<div class="container">
	<form action="/faculty-form/lookup" method="post">
		{% csrf_token %}
		<div class="row">
			<div class="col-25">
				<label for="sname">Student Name</label>
			</div>
			<div class="col-75">
				{{ lookup.fullname }}
			</div>
		</div>
		<br>
		<div class="row">
			<input type="submit" value="Search">
		</div>
	</form>
</div>

<br>

<h2>Path Generation Form</h2>
<p>Please enter your information below to generate a new path</p>
<div class="container">
	<form action="/faculty-form/path-step-2" method="post">
		{% csrf_token %}
		<div class="row">
			<div class="col-25">
				<label for="degree">Degree</label>
			</div>
			{% for radio in form.subject %}
				<label for="{{radio.id_for_label}}">
				<span class="radio">{{radio.tag}}</span>
				{{radio.choice_label}}
				</label>
			{% endfor %}
		</div>
		<div class="row" id="divCSConc">
			<div class="col-25">
				<label for="concCS">CS Areas of Study</label>
			</div>
			<div class="col-75">
				{{ form.cs_con }}
			</div>
		</div>
		<div class="row" id="divISConc">
			<div class="col-25">
				<label for="concIS">IS Concentrations</label>
			</div>
			<div class="col-75">
				{{ form.is_con }}
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="classPerTerm">Classes per Term</label>
			</div>
			<div class="col-75">
				{{ form.num }}
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="quarter">Starting Quarter</label>
			</div>
			{% for radio in form.start %}
				<label for="{{radio.id_for_label}}">
				<span class="radio">{{radio.tag}}</span>
				{{radio.choice_label}}
				</label>
			{% endfor %}
		</div>
		<br>
		<div class="row">
			<input type="submit" value="Submit">
		</div>
	</form>
</div>
</body>

{% endblock content %}