{% extends "base.html" %}

{% block content %}

<div class="container-fluid" style="margin: auto"><!-- container for the page -->
	<div class="row"><!-- row for the header -->
		<h2>Path Step 2</h2>
	</div><!-- close row for the header -->
	<div class="row"><!-- row for the form -->
		<div class="col-sm-9"><!-- col for the fields inside form -->
			<p>Please select {{reqnum}} electives for your concentration or area of study</p>
			<form action="/student-form/path-display" method="post">
				{% csrf_token %}
				<div class="row"><!-- nested row for elective 1 -->
					<div class="col self-align-start"><!-- col for elective 1 label -->
						<label for="{{step2.elect1.label}}">{{step2.elec1.label}}</label>
					</div><!-- close col for elective 1 -->
					<div class="col align-self-end"><!-- col for elective 1 field -->
						{{step2.elec1}}
					</div><!-- close col for elective 1 field -->
				</div><!-- close nested row for elective 1 -->
				<div class="row"><!-- nested row for elective 2 -->
					<div class="col self-align-start"><!-- col for elective 2 label -->
						<label for="{{step2.elect2.label}}">{{step2.elec2.label}}</label>
					</div><!-- close col for elective 2 -->
					<div class="col align-self-end"><!-- col for elective 2 field -->
						{{step2.elec2}}
					</div><!-- close col for elective 2 field -->
				</div><!-- close nested row for elective 2 -->
				{% if ge2 %}
				<div class="row"><!-- nested row for elective 3 -->
					<div class="col self-align-start"><!-- col for elective 3 label -->
						<label for="{{step2.elect3.label}}">{{step2.elec3.label}}</label>
					</div><!-- close col for elective 3 -->
					<div class="col align-self-end"><!-- col for elective 3 field -->
						{{step2.elec3}}
					</div><!-- close col for elective 3 field -->
				</div><!-- close nested row for elective 3 -->
				{% endif %}
				{% if ge3 %}
				<div class="row"><!-- nested row for elective 4 -->
					<div class="col self-align-start"><!-- col for elective 4 label -->
						<label for="{{step2.elect4.label}}">{{step2.elec4.label}}</label>
					</div><!-- close col for elective 4 -->
					<div class="col align-self-end"><!-- col for elective 4 field -->
						{{step2.elec4}}
					</div><!-- close col for elective 4 field -->
				</div><!-- close nested row for elective 4 -->
				{% endif %}
				{% if ge4 %}
				<div class="row"><!-- nested row for elective 5 -->
					<div class="col self-align-start"><!-- col for elective 5 label -->
						<label for="{{step2.elect5.label}}">{{step2.elec5.label}}</label>
					</div><!-- close col for elective 5 -->
					<div class="col align-self-end"><!-- col for elective 5 field -->
						{{step2.elec5}}
					</div><!-- close col for elective 5 field -->
				</div><!-- close nested row for elective 5 -->
				<div class="row"><!-- nested row for elective 6 -->
					<div class="col self-align-start"><!-- col for elective 6 label -->
						<label for="{{step2.elect6.label}}">{{step2.elec6.label}}</label>
					</div><!-- close col for elective 6 -->
					<div class="col align-self-end"><!-- col for elective 6 field -->
						{{step2.elec6}}
					</div><!-- close col for elective 6 field -->
				</div><!-- close nested row for elective 6 -->
				<div class="row"><!-- nested row for elective 7 -->
					<div class="col self-align-start"><!-- col for elective 7 label -->
						<label for="{{step2.elect7.label}}">{{step2.elec7.label}}</label>
					</div><!-- close col for elective 7 -->
					<div class="col align-self-end"><!-- col for elective 7 field -->
						{{step2.elec7}}
					</div><!-- close col for elective 7 field -->
				</div><!-- close nested row for elective 7 -->
				{% endif %}

				<br>
				
				<div class="row"><!-- nested row for electives guidelines header -->
					<p><h3>Guidelines for Elective Selection</h3></p>
				</div><!-- close nested row for electives guideless header -->
				<div class="row"><!-- nested row for electives guidelines content -->
					<ul>
						<li>Enter the ID number of the class you wish to take
						<li>If the course is part of a series of courses you must also choose it's prerequisite
						<li>If the prerequisite for a course you choose is in this list, you must also take that course
						<li>You must choose a course for every input box
					</ul>
				</div><!-- close nested row for electives guideless content-->

				<br>

				{% if courses %}
				<div class="row"><!-- nested row for table -->
					<table class="table table-striped table-bordered">
						<thead>
							<td><b>ID</b>
							<td><b>Course Number</b>
							<td><b>Name</b>
							<td><b>Description</b>
							<td><b>Required Prerequisites</b>
						</thead>
						{% for course in courses %}
						<tr>
							<td>{{course.course_id}}
							<td>{{course.subject}} {{course.number}}
							<td>{{course.name}}
							<td>{{course.description}}
							<td>{{course.prereqs}}
						</tr>
						{% endfor %}
					</table>
				</div><!-- close nested row for table -->
				{% else %}
				<div class="row"><!-- nested row for table exception -->
					<p> No courses available for display </p>
				</div><!-- close nested row for table exception -->
				{% endif %}

				<br>

				<div class = "row align-self-end"><!-- nested row for finish button -->
					<input type="submit" class="btn btn-primary" value="Finish">
				</div><!-- close nested row for finish button -->
			</form>
		</div><!-- close col for fields inside form -->
	</div><!-- close row for the form -->

	<br>

	<div class="row align-self-end"><!-- nested row for back button -->
		<form action="/student-form">
			<input type="submit" class="btn btn-primary" value="Back">
		</form>
	</div><!-- close nested row for back button -->
</div><!-- close container for page -->

{% endblock content %}