 {% extends "base.html" %} 

 {% block content %}
	<!--closes makes small banner-->
	<div class="container-fluid bg-info" style="height:100vh">
		<center>
			<br>
			<br>
			<br>
			<br>

			<h2>
				<strong>
					<font color="#FFFFFF">Welcome {{ user.student.first_name }} ! </strong>
				</font>
			</h2>

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class="container">
				<div class="row">
					<div class="col align-self-start">
						<p>
							<button type="button" class="btn btn-primary" onclick="window.location.href='/student-form'">Student Form</button>
						</p>
					</div>
					<div class="col align-self-center">
						<p>
							<button type="button" class="btn btn-primary" onclick="window.location.href='/student_home'">Load Path</button>
						</p>
					</div>
					<div class="col align-self-end">
						<p>
							<button type="button" class="btn btn-primary" onclick="window.location.href='/search'">Courses</button>
						</p>
					</div>
					<!-- closes col at the right -->
				</div>
				<!-- closes row -->
			</div>
			<!--closes container -->
		</center>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>

{% endblock %}