{% extends "base.html" %}

{% block content %}

<div class="container-fluid"><!-- container for the page -->
	<div class="row"><!-- row for the header -->
		<h2>Finished Path</h2>
	</div><!-- close row for the header -->
	<div class="row"><!-- row for the table -->
		{% if path %}
			<table class="table table-striped table-bordered">
			{% for term in path %}
				<tr>
				<td> {{term.name}}
				{% for course in term.courses %}
					<td>{{course.subject}} {{course.number}}
				{% endfor %}
				</tr>
			{% endfor %}
			</table class="table table-striped table-bordered">
		{% else %}
			<p> No path available for display </p>
		{% endif %}
	</div><!-- close row for the table -->

	<br>
	
	<div class = "row">
	<form action="/student-form/save-path" method="post">
		{% csrf_token %}
		<input type="submit" class="btn btn-primary" value="Save">
	<form action="/student-form">
		<input type="submit" class="btn btn-primary" value="Return to Form">
	</form>
	
	
	</div>
</div>

{% endblock content %}