{% extends "base.html" %}

{% block content %}


<h2>{{student.first_name}}'s Path</h2>
<div class="container">
	<div>
		{% if path %}
			<table class="table table-striped table-bordered">
			{% for term in path %}
				<tr>
				<td> {{term.name}}
				{% for course in term.courses %}
					<td>{{course.subject}} {{course.number}}
				{% endfor %}
				</tr>
			{% endfor %}
			</table class="table table-striped table-bordered">
		{% else %}
			<p> No path available for display </p>
		{% endif %}
	</div>
	<br>
	<div class = "row">
	<form action="/faculty-form">
			<input type="submit" class="btn btn-primary" value="Return to Form">
	</form>
	
	
	</div>
</div>

{% endblock content %}