{% extends "base.html" %}

{% block content %}

<div class="container-fluid"><!-- container for the page -->
	<div class="row"><!-- row for the header -->
		<h2>Path Generation Form</h2>
	</div><!-- close row for the header-->
	<div class="row justify-content-start"><!-- row for the form -->
		<div class="col-sm-9"><!-- col for the fields inside form -->
			<p>Please enter your information below to generate a new path</p>
			<form action="/student-form/path-step-2" method="post">
				{% csrf_token %}
				<div class="row"><!-- nested row for the degree -->
					<div class="col align-self-start"><!-- col for the degree label -->
						<label for="degree">Degree</label>
					</div><!-- close col for the degree label-->
					<div class="col align-self-end"><!-- col for the degree radio buttons -->
						{% for radio in form.subject %}
							<label for="{{radio.id_for_label}}">
								<span class="radio">{{radio.tag}}</span>
								{{radio.choice_label}}
							</label>
						{% endfor %}
					</div><!-- close col for the degree radio buttons -->
				</div><!-- close nested row for the degree -->
				<br>
				<div class="row" id="divCSConc"><!-- nested row for the CS areas of study -->
					<div class="col align-self-start"><!-- col for the CS areas of study label -->
						<label for="concCS">CS Areas of Study</label>
					</div><!-- close col for the label -->
					<div class="col align-self-end"><!-- col for the CS areas of study dropdown -->
						{{ form.cs_con }}
					</div><!-- close col for the CS areas of study dropdown -->
				</div><!-- close nested row for CS areas of study -->
				<br>
				<div class="row" id="divISConc"	><!-- nested row for the IS concentrations -->
					<div class="col align-self-start"><!-- col for the IS concentrations label -->
						<label for="concIS">IS Concentrations</label>
					</div><!-- close col for the IS concentrations label -->
					<div class="col align-self-end"><!-- col for the IS concentrations dropdown -->
						{{ form.is_con }}
					</div><!-- close col for the IS concentrations dropdown -->
				</div><!-- close nested row for IS concentrations -->
				<br>
				<div class="row"><!-- nested row for the classes per term dropdown -->
					<div class="col align-self-start"><!-- col for classes per term label -->
						<label for="classPerTerm">Classes per Term</label>
					</div><!-- close col for classes per term label -->
					<div class="col align-self-end"><!-- col for classes per term dropdown-->
						{{ form.num }}
					</div><!-- close col for classes per term dropdown -->
				</div><!-- close nested row for classes per term dropdown -->
				<br>
				<div class="row"><!-- nested row for starting quarter radio -->
					<div class="col align-self-start"><!-- col for starting quarter label -->
						<label for="quarter">Starting Quarter</label>
					</div><!-- close col for starting quarter label -->
					<div class="col align-self-end"><!-- col for starting quarter radio -->
						{% for radio in form.start %}
							<label for="{{radio.id_for_label}}">
								<span class="radio">{{radio.tag}}</span>
								{{radio.choice_label}}
							</label>
						{% endfor %}
						</div><!-- close col for starting quarter radio -->
				</div><!-- close nested row for starting quarter radio -->
				<br>
				<div class="row"><!-- nested row for submit button -->
					<div class="col align-self-start"><!-- col for submit button -->
						<input type="submit" class="btn btn-primary" value="Submit">
					</div><!-- close col for submit button -->
				</div><!-- close nested row for submit button -->
			</form>
		</div><!-- close col for fields inside form -->
	</div><!-- close row for the form -->
</div><!-- close container-fluid -->

{% endblock content %}